<!DOCTYPE html>
<html>
	<head>
		<title>Results</title>
		<style>
			body {
				background-color: black;
				color: lightblue;
			}
		</style>
	</head>
	<body>
		<h1>Modified Photos</h1>
		<div style="overflow: hidden">
			<% photos.forEach((photo) => { %>
			<img
				src="/uploads/new/<%= photo %>"
				alt="Modified photo"
				style="width: 500px; transform: translateZ(-1px)"
			/>
			<% }); %>
		</div>

		<form action="/index.html">
			<button type="submit">Go back</button>
		</form>
	</body>
</html>
